# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Table of development environment open source tools for data science.
- A few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. C/C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow 
2. Scikit-learn 
3. NumPy 
4. Pandas 
5. Matplotlib

 | Data Science Tools |
 | :----: |
 | JupyterLab |
 | Spyder |
 | R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is basic arithmetic expression to multiply and add numbers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200//60

3

## Author 

Thi Thanh Chuong